[FORMAT]
max-line-length = 80

[MESSAGES CONTROL]
disable=
  abstract-method,
  bad-indentation,
  bad-inline-option,
  consider-using-f-string,
  deprecated-pragma,
  duplicate-code,
  file-ignored,
  import-outside-toplevel,
  inconsistent-return-statements,
  invalid-name,
  len-as-condition,
  locally-disabled,
  method-cache-max-size-none,
  missing-class-docstring,
  missing-docstring,
  missing-function-docstring,
  missing-module-docstring,
  raw-checker-failed,
  redefined-builtin,
  suppressed-message,
  too-few-public-methods,
  too-many-ancestors,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-locals,
  too-many-return-statements,
  too-many-statements,
  unused-wildcard-import,
  use-implicit-booleaness-not-len,
  use-symbolic-message-instead,
  useless-suppression,
  wildcard-import
extension-pkg-whitelist=pydantic
